.form-box {
  margin: 3.7rem 7% 0 7%;
}

.title {
  font-size: 1.6rem;
  color: #272727;
  letter-spacing: 0;
  font-weight: 600;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2.2rem 0 2.2rem 0;
}

.normal-text {
  font-size: 1.8rem !important;
  color: #272727 !important;
  font-weight: 600 !important;
}

.history-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 3.2rem;
}

.history-box>div:nth-of-type(1) {
  font-size: 1.2rem;
  color: #4591fd;
  letter-spacing: 0;
  text-align: left;
  display: flex;
  align-items: center;
}

.history-box>div .icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}

.history-numbers {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: scroll;
}

.history-item {
  display: inline-block;
  font-size: 1rem;
  color: #272727;
  letter-spacing: 0;
  text-align: left;
  padding: 0.4rem 2.5rem 0.5rem 1rem;
  background: #f3f3f3;
  border-radius: 1.5rem;
  margin-left: 1.5rem;
  position: relative;
  -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select:none;
}

.history-item img {
  width: 1.2rem;
  position: absolute;
  right: 0.5rem;
  top: 0.6rem;
}

.code-input-input {
  height: 3.6rem;
  position: absolute;
  outline: none;
  color: transparent;
  text-shadow: 0 0 0 transparent;
  background: transparent;
  border: none;
  /* border: 1px solid #000; */
  /* width: 100%; */
  width: 600%;
  margin-left: -200%;
  overflow: hidden;
}

.code-input-main {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.code-input-main-item {
  border-radius: 0.4rem;
  background-color: #f3f3f3;
  height: 3.6rem;
  width: 14.5%;
  min-width: 3rem;
  line-height: 3.6rem;
  text-align: center;
  font-size: 1.8rem;
  color: #272727;
  letter-spacing: 0;
  font-weight: 600;
}

.spec-text {
  position: relative;
  font-size: 0.7rem !important;
  font-weight: normal !important;
  color: #b6b3b3 !important;
}


.spec-text span {
  position: relative;
  font-size: 0.7rem !important;
  font-weight: normal !important;
  color: #b6b3b3 !important;
}

.car-area {
  border: 1px solid #dbdbdb;
  width: 17.5%;
  border-radius: 0.4rem;
  height: 3.6rem;
  text-align: center;
  font-size: 1.5rem;
  color: #272727;
  letter-spacing: 0;
  font-weight: 500;
  margin-right: 2.5%;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  padding-left: 0.6rem;
}

.car-area::before {
  content: "";
  position: absolute;
  right: 0.5rem;
  top: 1.4rem;
  width: 1rem;
  height: 0.7rem;
  background-image: url(../img/icon-down.png);
  background-position: center;
  background-size: 100% auto;
}

.click-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 2rem 1.4rem;
}

.click-item {
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 0.4rem;
  margin: 0.35rem;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  color: #404040;
}

.click-item.active {
  border: 1px solid rgba(255, 67, 106, 1);
}

/* 车辆信息详情页面 */
.detail-form-box {
  margin: 0 7%;
}

.form-item {
  list-style: none;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 3rem;
}

.form-label {
  font-size: 1.6rem;
  color: #272727;
  letter-spacing: 0;
  font-weight: 600;
}

.form-input {
  width: 100%;
  color: #404040;
  position: relative;
}

.form-input input {
  width: 100%;
  font-size: 1.5rem;
  color: #404040;
  margin: 0.4rem 0 0 0;
  padding: 0.8rem 0;
  border: none;
  outline-style: none;
}

.form-value {
  min-height: 3.6rem;
  display: block;
  margin: 0.4rem 0 0 0;
  padding: 0.8rem 0;
  font-size: 1.5rem;
  letter-spacing: 0;
}

.form-value.spec {
  font-size: 1.8rem;
  color: #ff3a3a;
  font-weight: 600;
}

.refresh {
  position: absolute;
  right: 0;
  bottom: 0.8rem;
  width: 6.5rem;
  height: 2.5rem;
  background: url(../img/icon-refresh.png) no-repeat center;
  background-size: 100% 100%;
}

.btn-box {
  margin: 6.9rem 7% 0 7%;
}

.sub-title {
  font-size: 1.2rem;
  color: #c0c0c0;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 2.3rem;
}

/* 新键盘输入样式 */
.clearfix:after {
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-table;
}

*html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

*+html .clearfix {
  min-height: 1%;
}

.che_tit {
  text-align: center;
  padding: 20px;
}

.ul_pro {
  background-color: #F3F3F3;
  text-align: center;
  padding: 4px 2px;

}

.ul_pro li {
  float: left;
  width: 11.11%;
  padding: 2px;
  box-sizing: border-box;
}

.ul_pro .li_close {
  float: right;
  width: 30%;
}

.ul_pro .li_close span {
  background-color: #D7D7D7;
}

.ul_pro .li_clean {
  float: right;
  width: 30%;
}

.ul_pro li span {
  display: block;
  background-color: #fff;
  border-radius: 0.3rem;
  /* box-shadow: 2px 2px 2px #888888; */
  /* max-width:48px; margin:0 auto; */
  line-height: 4rem;
  padding-top: 2px;
  font-weight: 500;
  font-size: 1.7rem;
}

.ul_pro li span:active {
  background-color: #4DA9F2;
  color: #fff;
}

.ul_input {
  padding: 20px 0;
  width: 100%;
  margin: 0 auto;
}

.ul_input li {
  float: left;
  width: 13.5%;
  padding: 0 1%;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.ul_input li:nth-of-type(1) {
  width: 19% !important;
  padding: 0 2% 0 0 !important;
  position: relative;
}

.ul_input li:nth-of-type(1) span {
  position: relative;
}

.ul_input li:nth-of-type(1) span::after {
  content: "";
  position: absolute;
  right: 0.5rem;
  top: 1.5rem;
  width: 1rem;
  height: 0.7rem;
  background-image: url(../img/icon-down.png);
  background-position: center;
  background-size: 100% auto;
}

.ul_input li span {
  display: block;
  background-color: #f3f3f3;
  border-radius: 0.4rem;
  width: 100%;
  margin: 0 auto;
  height: 3.6rem;
  line-height: 3.6rem;
  font-size: 1.8rem;
  color: #272727;
  letter-spacing: 0;
  font-weight: 600;
}

.ul_input li:nth-of-type(1) span {
  background-color: #fff !important;
  border: 1px solid #DBDBDB;
  text-align: left;
  padding-left: 0.6rem;
  font-size: 1.5rem;
  letter-spacing: 0;
  font-weight: 500;
}

.ul_keybord {
  background-color: #F3F3F3;
  text-align: center;
  padding: 4px 2px;
  font-size: 14px;
}

.ul_keybord li {
  float: left;
  width: 10%;
  padding: 0.2rem;
  box-sizing: border-box;
}

.ul_keybord .ikey20 {
  /* margin-left: 5%; */
}

.ul_keybord .ikey37 {
  width: 30% !important;
}

.ul_keybord .ikey37 span {
  background-image: linear-gradient(to right, #ff746d 2%, #ff436a 100%);
  box-shadow: 0 2px 8px 0 rgba(255, 70, 108, 0.39);
}

.ul_keybord .li_w {
  width: 10%;
}

.ul_keybord .li_close {
  float: right;
  width: 30%;
}

.ul_keybord .li_close span {
  background-color: #ACB3BB;
}

.ul_keybord .li_clean {
  float: right;
  width: 22.22%;
}

.ul_keybord li span {
  display: block;
  background-color: #fff;
  border-radius: 0.3rem;
  /* box-shadow: 2px 2px 2px #888888; */
  /* max-width:48px; margin:0 auto; */
  line-height: 4.5rem;
  padding-top: 0.2rem;
  font-weight: 500;
  font-size: 1.7rem;
  color: #272727;
  letter-spacing: 0;
  text-align: center;
}

.ul_keybord li span:active {
  background-color: #4DA9F2;
  color: #fff;
}

.del-icon {
  width: 75%;
  position: relative;
  top: 0.5rem;
}