.manager_bg {
    background: #fefefe;
}

.manager_bg2 {
    background: #f9f9f9;
}

.index_o {
    background: #fff;
    margin-top: 0.1rem;
}

.index_o_n {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 0.049rem;
}

.index_o_n_list ul {
    text-align: center;
    color: #575757;
    font-size: 0.15rem;
    margin-top: 0.05rem;
    margin-right: 0.1rem;
}

.index_o_n_list ul li:nth-child(1) {
    width: 0.5rem;
    height: 0.5rem;
    margin: auto;
}

.p32 {
    /* padding: 0 1.32rem; */
}

.index_o_n .index_o_n_fontwidth {
    font-size: 0.14rem;
}

.index_o_n_list {
    float: left;
    width: 25%;
    text-align: center;
}

.index_o_n_list2 {
    clear: both;
    width: 100%;
    margin-top: 1.02rem;
}

.decorate {
    width: 90%;
    margin: 0 auto;
    margin-top: 10%;
}

.decorate_list {
    width: 100%;
    border-radius: 0.06rem;
    box-shadow: 0px 0.02rem 0.04rem 0px rgba(215, 20, 56, .2);
    border: 0.01rem solid #0297FE;
    color: #0297FE;
    height: 0.4rem;
    line-height: 0.4rem;
    text-align: center;
    font-size: 0.14rem;
    margin-bottom: 0.15rem;
}

.select_bg {
    background: #0297FE;
    color: #fff;
}

.decorate_btns_back {
    width: 40%;
    margin: 8% auto;
    height: 0.35rem;
    line-height: 0.35rem;
    font-size: 0.17rem;
    display: block;
    color: #0297FE;
    text-align: center;
    background: #FFFFFF;
    border: 0.01rem solid #0297FE;
    border-radius: 1rem;
    margin-bottom: 5%;
}

.back_link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0.07rem;
    bottom: 0;
    font-size: 0.15rem;
}

.flow_details {
    width: 90%;
    margin: 0 auto;
    margin-top: 14%;
    border: 0.01rem solid #0297FE;
    border-radius: 6px;
    height: 526px;
    overflow: scroll;
}

.flow_details p {
    padding: 0.2rem 0.1rem 0.1rem 0.1rem;
    font-size: 0.14rem;
    line-height: 0.24rem;
    color: #4a4a4a;
}

.flow_title {
    text-align: center;
    position: absolute;
    top: 4%;
    left: 0;
    right: 0;
}

.flow_title img {
    width: 160px;
    position: relative;
}

.flow_title_text {
    position: absolute;
    left: 0;
    right: 0;
    top: 0.15rem;
    color: #fff;
    font-size: 0.14rem;
}

.decorate_persons {
    background: #fff;
    color: #3F3F3F;
    font-size: 0.17rem;
    margin-bottom: 0.15rem;
}

.decorate_persons_list {
    width: 96%;
    margin: 0 0 0 4%;
    border-bottom: 0.01rem solid #f2f2f2;
    padding: 0.2rem 0;
    overflow: hidden;
}

.decorate_persons_list:last-child {
    border: 0;
}

.decorate_persons_list_left {
    float: left;
}

.decorate_persons_list_right {
    float: right;
    padding-right: 0.1rem;
    color: #aaaa;
}

.decorate_check {
    color: #3F3F3F;
    font-size: 0.15rem;
    min-height: 360px;
}

.decorate_check_top {
    background: #fff;
    padding: 18px 0;
    width: 100%;
    overflow: hidden;
    font-size: 0.17rem;
    color: #3F3F3F;
}

.decorate_check_top_left {
    float: left;
    margin-left: 5%;
}

.decorate_check_top_right {
    float: right;
    margin-right: 5%;
}

.decorate_check_list {
    width: 90%;
    font-size: 0.15rem;
    margin: 18px auto;
    background: #fff;
    border-radius: 0.1rem;
    box-shadow: 0 0.02rem 0.04rem 0 rgba(0, 0, 0, 0.1);
}

.decorate_check_list_left {
    float: left;
    width: 50%;
    padding: 0.1rem 0;
}

.decorate_check_list_left_title {
    float: left;
    margin-left: 0.05rem;
}

.decorate_bg {
    width: 94%;
    margin: 0 auto;
    padding: 0.1rem 0;
    overflow: hidden;
}

.person_color {
    color: #aaaaaa;
    margin-right: 0px;
    width: 60px;
    overflow: hidden;
}

.xq_btns {
    border-top: 0.01rem solid #ECECEC;
    padding: 0.1rem 0;
    text-align: center;
}

.t_color {
    color: #0297FE;
}

.t_color1 {
    color: #AAAAAA;
}

.decorate_check_details {
    width: 95%;
    margin: 0 0 0 5%;
    overflow: hidden;
}

.decorate_check_details_list {
    clear: both;
    overflow: hidden;
    padding: 18px 0;
    border-bottom: 0.01rem solid #f2f2f2;
}

.decorate_check_details_list_title {
    float: left;
}

.decorate_check_details_list_right {
    float: right;
    color: #9e9e9e;
    padding-right: 0.15rem;
}

.decorate_imgs {
    background: #fff;
    width: 96%;
    margin: 0 auto;
    clear: both;
    margin-top: 0.15rem;
}

.decorate_imgs img {
    border-radius: 6px;
}

.decorate_picter {
    background: #fff;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0.15rem 0;
    margin-bottom: 0.15rem;
    position: relative;
}

.decorate_imgs01 {
    width: 30%;
    float: left;
    margin-right: 2%;
    margin-bottom: 0.1rem;
}

.bq_imgs {
    background: rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 0 0.08rem 0.08rem 0;
    width: 87px;
    height: 0.23rem;
    text-align: center;
    padding-top: 0.05rem;
    position: absolute;
    top: 10%;
}

.decorate_check_details_list_img {
    float: right;
    margin-right: 0.15rem;
}

.decorate_check_details_list_img img {
    width: 0.07rem;
}

.check_discribe {
    clear: both;
    color: #9E9E9E;
    padding-top: 0.15rem;
    line-height: 0.3rem;
}

.check_discribe textarea {
    width: 90%;
    border: 0;
    background: #f7f7f7;
    color: #a1a1a1;
    padding: 0.1rem;
    border-radius: 0.08rem;
    font-size: 0.15rem;
    line-height: 0.24rem;
    font-family: "微软雅黑";
}

.no_border {
    border: 0;
}

.t_color2 {
    color: #208302;
}

.t_color3 {
    color: #FF6E00;
}

.shaomiao_btns {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    height: 0.45rem;
    line-height: 0.45rem;
    background: #0297FE;
    box-shadow: 0 0.04rem 0.11rem 0 rgba(215, 20, 56, 0.30);
    border-radius: 1rem;
    font-size: 0.17rem;
    margin-top: 10%;
}

.check_btns {
    width: 90%;
    margin: 0 auto;
    margin-top: 0;
    clear: both;
    padding: 0.2rem 0;
    overflow: hidden;
}

.check_btns_next {
    width: 48%;
    float: right;
    background: #0297FE;
    border-radius: 1rem;
    color: #fff;
    border: 0.01rem solid #0297FE;
    font-size: 0.15rem;
    height: 0.35rem;
    line-height: 0.35rem;
    text-align: center;
}

.check_btns_stop {
    float: left;
    width: 48%;
    border: 0.01rem solid #0297FE;
    border-radius: 1rem;
    font-size: 0.15rem;
    color: #0297FE;
    text-align: center;
    height: 0.35rem;
    line-height: 0.35rem;
}

.add_phto {
    width: 90%;
    padding-top: 0.2rem;
}

.add_img {
    float: left;
    width: 40%;
    border: 0.01rem dashed #bdbdbd;
    height: 1.02rem;
    color: #cacaca;
    font-size: 0.13rem;
    text-align: center;
}

.add_img2 {
    float: left;
    width: 40%;
}

.on_margin {
    margin: 0;
}

.cue {
    float: right;
    width: 55%;
    color: #0297FE;
    font-size: 0.13rem;
}

.jia {
    margin-top: 0.2rem;
}

.jia img {
    width: 0.27rem;
}

.closed {
    width: 0.16rem;
    position: absolute;
    top: -0.02rem;
    right: 0;
}

.closed_b {
    position: relative;
}

.decorate_imgs01_add {
    border: 0.01rem dashed #BDBDBD;
    text-align: center;
}

.decorate_imgs01_add {}

@media(min-width:320px) {
    .decorate_imgs01_add {
        height: 0.94rem;
    }
    .decorate_imgs01_add img {
        padding-top: 0.2rem;
    }
}

@media(min-width:360px) {
    .decorate_imgs01_add {
        height: 1.06rem;
    }
    .decorate_imgs01_add img {
        padding-top: 0.23rem;
    }
}

@media(min-width:375px) {
    .decorate_imgs01_add {
        height: 111px;
    }
    .decorate_imgs01_add img {
        padding-top: 25px;
    }
}

@media(min-width:411px) {
    .decorate_imgs01_add {
        height: 121px;
    }
    .decorate_imgs01_add img {
        padding-top: 0.3rem;
    }
}

@media(min-width:414px) {
    .decorate_imgs01_add {
        height: 1.22rem;
    }
    .decorate_imgs01_add img {
        padding-top: 0.3rem;
    }
}

@media(min-width:683px) {
    .decorate_imgs01_add {
        height: 2.03rem;
    }
    .decorate_imgs01_add img {
        padding-top: 0.75rem;
    }
}

.decorate_imgs01_add img {
    width: 0.35rem;
}

.decorate_imgs01_add p {
    color: #CACACA;
    font-size: 0.15rem;
}

.have_margin {
    margin-top: 0.3rem;
}

.accept_decorate_list {
    width: 90%;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0 0.02rem 0.04rem 0 rgba(0, 0, 0, 0.10);
    border-radius: 0.1rem;
    overflow: hidden;
    margin-top: 0px;
}

.accept_decorate_list_all {
    width: 90%;
    margin: 0 auto;
    font-size: 0.15rem;
    color: #3F3F3F;
    border-bottom: 0.01rem solid #ECECEC;
    overflow: hidden;
    padding: 0.15rem 0;
}

.accept_decorate_list_all_left {
    float: left;
    margin-top: 0.05rem;
}

.accept_decorate_list_all_right {
    float: right;
}

.accept_decorate {
    width: 90%;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0 0.02rem 0.04rem 0 rgba(0, 0, 0, 0.10);
    border-radius: 0.1rem;
    height: 2rem;
}

.accept_btn {
    background: #FFFFFF;
    box-shadow: 0 0.02rem 0.04rem 0 rgba(0, 0, 0, 0.10);
    border-radius: 0.05rem;
    text-align: center;
    padding: 0.05rem 0.1rem;
}

.accept_decorate_list_all_cue {
    float: left;
    color: #0297FE;
    margin-left: 10%;
    margin-top: 0.05rem;
}

.accept_btn_t_color2 {
    color: #208302;
    text-align: center;
    padding: 0.05rem 0.1rem;
}

.next_btn_02 {
    background: #0297FE;
    box-shadow: 0 0.04rem 0.11rem 0 rgba(215, 20, 56, 0.30);
    border-radius: 1rem;
    text-align: center;
    color: #fff;
    width: 60%;
    margin: 0 auto;
    height: 0.45rem;
    line-height: 0.45rem;
    color: #fff;
    font-size: 0.17rem;
    margin-top: 10%;
}

.seach {
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
    background: #FFFFFF;
    border-radius: 1rem;
    height: 0.32rem;
    line-height: 0.32rem;
    margin-bottom: 0.2rem;
}

.seach_content {
    width: 70%;
    color: #bebebe;
    font-size: 0.13rem;
    border-right: 0.01rem solid #eee;
}

.seach img {
    width: 12px;
    margin-right: 0.1rem;
    margin-left: 0.1rem;
}

.seach_btns {
    color: #0297FE;
    font-size: 0.14rem;
    background: none;
    text-align: right;
    margin-left: 0.1rem;
}

.peccancy {
    width: 90%;
    margin: 0 auto;
    margin-top: 0.15rem;
    background: #fff;
    box-shadow: 0 0.02rem 0.04rem 0 rgba(0, 0, 0, 0.10);
    padding-bottom: 0.2rem;
    border-radius: 0.1rem;
    font-size: 0.15rem;
    overflow: hidden;
}

.peccancy_list {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0.15rem 0 0 0;
}

.peccancy_list_title {
    float: left;
    width: 25%;
}

.peccancy_list_content {
    float: left;
    color: #3F3F3F;
}

.peccancy_list_state {
    float: right;
}

.case1 {
    width: 75%;
    float: right;
}

.times {
    color: #AAAAAA;
}

.over_btns {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10%;
    overflow: hidden;
}

.over_btns_delate {
    width: 48%;
    float: left;
    background: #FFFFFF;
    border: 0.01rem solid #0297FE;
    border-radius: 1rem;
    color: #0297FE;
    text-align: center;
    height: 0.35rem;
    line-height: 0.35rem;
}

.over_btns_finish {
    width: 48%;
    float: right;
    background: #0297FE;
    box-shadow: 0 0.03rem 0.11rem 0 rgba(215, 20, 56, 0.30);
    border-radius: 1rem;
    color: #fff;
    text-align: center;
    height: 0.35rem;
    line-height: 0.35rem;
}

.have_border {
    border-bottom: 0.01rem solid #f2f2f2;
}

.decorate_mes {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 5%;
    padding-top: 0.1rem;
    background: #FFFFFF;
    box-shadow: 0 0.02rem 0.04rem 0 rgba(0, 0, 0, 0.10);
    border-radius: 0.05rem;
}

.decorate_mes_content {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.decorate_mes_content_left {
    float: left;
    width: 30%;
    border-right: 0.01rem solid #eee;
    margin-top: 0.15rem;
    padding-right: 0.05rem;
}


/*.decorate_mes_content_left_pic{border: 0.04rem solid #91979F; width: 72px;height: 72px; border-radius: 50%;}*/

.decorate_mes_content_right {
    float: right;
    width: 65%;
    color: #505A6A;
    font-size: 0.13rem;
    margin-top: 0.15rem;
    text-align: center;
    font-family: PingFangSC-Regular;
    ;
}

.decorate_mes_content_right_list {
    float: left;
    width: 33%;
}

.yuan {
    width: 0.8rem;
    height: 0.8rem;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 0.05rem;
    text-align: center;
    background-color: #FF9AAC;
    border-radius: 50%;
    position: relative;
}

.yuan_bl1,
.yuan_bl2,
.yuan_bl3,
.yuan_bl4 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
}

.yuan_bl1,
.yuan_bl2 {
    background-color: #ccc;
}

.yuan_bl3,
.yuan_bl4 {
    background-color: #FF9AAC;
}

.yuan_bl1,
.yuan_bl3 {
    clip: rect(0 0.3rem 0.45rem 0);
}

.yuan_bl2,
.yuan_bl4 {
    clip: rect(0 1rem 0.75rem 0);
}

.yuan_text {
    width: 0.7rem;
    height: 0.7rem;
    box-sizing: border-box;
    margin: 0 auto;
    color: #505A6A;
    font-size: 0.24rem;
    font-family: "PingFangSC-Thin", "sans-serif", "STHeitiSC-Light", "微软雅黑", "Microsoft YaHei";
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    text-align: center;
    padding-top: 0.04rem;
}

.today {
    font-size: 0.1rem;
    color: #505A6A;
}

.big-size {
    font-size: 0.24rem;
}

.f_text {
    margin-top: 0.1rem;
}

.record_btn {
    clear: both;
    margin-top: 5%;
    height: 40px;
    line-height: 40px;
    background: #0297FE;
    color: #fff;
    font-size: 0.17rem;
    color: #fff;
    text-align: center;
}

.count {
    width: 100%;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0 0.02rem 0.04rem 0 rgba(0, 0, 0, 0.10);
}

.count table {
    width: 100%;
    margin: 0 auto;
    font-size: 0.15rem;
}

.count table thead {
    background: #F0F0F0;
    box-shadow: 0 0.02rem 0.04rem 0 rgba(0, 0, 0, 0.10);
    color: #999;
    height: 0.35rem;
    line-height: 0.35rem;
    text-align: center;
}

.count_list {
    height: 0.45rem;
    line-height: 0.45rem;
    text-align: center;
    border-bottom: 0.01rem solid #E0E0E0;
}

.count_list_color {
    color: #9a9a9a;
}

.decorate_top {
    width: 90%;
    margin: 0 auto;
    margin-top: 0.2rem;
}

.count_title {
    border-left: 0.07rem solid #0297FE;
    height: 21px;
    line-height: 21px;
    color: #333;
    margin-bottom: 0.15rem;
}

.count_title h3 {
    padding-left: 0.1rem;
    font-size: 0.16rem;
    font-weight: 600;
}

.decorate_cont {
    width: 90%;
    margin: 0 auto;
}

.accept_decorate_list_all_time {
    color: #999;
    float: left;
    margin-top: 0.05rem;
    margin-left: 5%;
}

.notice {
    background: #FFFFFF;
    width: 90%;
    margin: 0 auto;
    font-size: 0.17rem;
    color: #3F3F3F;
    padding: 0.1rem 0;
    margin-top: 0.15rem;
    box-shadow: 0 0.02rem 0.04rem 0 rgba(0, 0, 0, 0.10);
    border-radius: 0.1rem;
    border: 0.01rem solid #f5f5f5
}

.notice_list {
    width: 90%;
    margin: 0 auto;
    clear: both;
    overflow: hidden;
    padding: 0.08rem 0;
}

.notice_list_title {
    float: left;
    width: 30%;
    color: #A1A1A1;
}

.notice_list_content {
    float: right;
    width: 70%;
}

.notice_list_content p {
    line-height: 0.22rem;
}

.notice_list_content img {
    width: 1rem;
}

.notice_list_content span {
    float: right;
}

.reapeat_iem {
    background: #fff;
    width: 100%;
    margin: 0 auto;
    padding: 0px 0 0.2rem 0;
    overflow: hidden;
}

.accordion {
    clear: both;
    margin-top: 0.1rem;
}

.accordion img {
    width: 0.2rem;
}

.box_all {
    overflow: hidden;
}

.box {
    padding-top: 0.05rem;
}

.boxdown {
    /*cursor:pointer;
    border:0.01rem solid #EEEEEE;
     
    
    margin-left:150px;  
    margin-top:-0.02rem;     
    border-top: none; 
	margin:0 auto; */
    text-align: center;
    background: #FFFFFF url(../img/down.png) no-repeat 0.2rem;
    width: 60px;
    /* height:0.14rem;  */
    margin: 0 auto;
    color: #fff;
}

.boxdown span {
    padding-left: 0.3rem;
}

.down {
    /*cursor:pointer;
    border:0.01rem solid #EEEEEE;
     
    
    margin-left:150px;  
    margin-top:-0.02rem;     
    border-top: none; 
	margin:0 auto; */
    text-align: center;
    background: #FFFFFF url(../img/down.png) no-repeat 0.2rem;
    width: 60px;
    height: 0.14rem;
    margin: 0 auto;
}

.up {
    cursor: pointer;
    width: 60px;
    height: 0.14rem;
    background: #FFFFFF url(../img/up.png) no-repeat 0.2rem;
    margin-left: 150px;
    margin-top: -0.02rem;
    border-top: none;
    margin: 0 auto;
}

.demo-radio {
    display: none;
}

.demo-radioInput {
    background-color: #fff;
    border: 0.02rem solid rgba(0, 0, 0, 0.15);
    border-radius: 100%;
    display: inline-block;
    height: 0.15rem;
    margin-right: 0.1rem;
    margin-top: -0.01rem;
    vertical-align: middle;
    width: 0.15rem;
    line-height: .75
}

.demo-radio:checked+.demo-radioInput:after {
    background-color: #0297FE;
    border-radius: 100%;
    content: "";
    display: inline-block;
    height: 0.07rem;
    margin-left: 0.04rem;
    width: 0.07rem;
    color: #0297FE;
}

.demo-checkbox.demo--radioInput,
.demo-radio:checked+.demo--checkbox.demo--radioInput:after {
    border-radius: 0
}

.demo-radio:checked+.demo-radioInput {
    border: 0.02rem solid #0297FE;
}

.case_cheak {
    clear: both;
    font-size: 0.15rem;
    padding-top: 0.2rem;
}

.demo-label {
    margin-right: 0.2rem;
}

.select_areas {
    width: 90%;
    margin: 0 auto;
    font-size: 0.15rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    overflow: hidden;
}

.select_areas_content select {
    font-size: 0.15rem;
    border: none;
    outline: none;
    background: none;
    color: #b2b2b2;
    width: 100%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding-left: 0.1rem;
    background: #FFFFFF url(../img/zkss.png) no-repeat 95% 0.1rem;
    background-size: 5% 25%;
}

.select_areas_title {
    float: left;
    width: 80%;
    padding-top: 0.05rem;
}

.select_areas_content {
    float: right;
    width: 63%;
    padding: 0.05rem 0;
    background: #fff;
    color: #9a9a9a;
    text-align: right;
}

.select_style select {
    border: 0.01rem solid #E0E0E0;
    height: 0.3rem;
    line-height: 0.3rem;
    width: 100%;
    color: #9A9A9A;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding-left: 0.1rem;
    background: #FFFFFF url(../img/zkss.png) no-repeat 95% 0.1rem;
    background-size: 5% 20%;
}

.select_style {
    width: 50%;
    font-size: 0.15rem;
}

.areas {
    width: 100%;
    margin: 0 auto;
    background: #fff;
}

.Z-remove {
    width: 1rem;
    height: 1rem;
    background: url(/img/Z-img43.png) no-repeat center;
    background-size: 100% 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.add_bgs {
    background: #fff;
    width: 100%;
    clear: both;
    overflow: hidden;
    margin-bottom: 0.15rem;
}